*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
}

img{
    width: 400px;
    height: 400px;
    margin-top: 10px;
    border-radius: 50%;
    margin-left: 37%;
}


h2{
    text-align: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

h1{
    font-size: 70px;
    font-family:'Times New Roman', Times, serif ;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30%;
}

p{
   font-size: 40px;
   font-weight: 20px;
   margin-top: 450px;
   text-align: center;

}

.lien{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    max-width: 1600px;
}

.lien h1{
    margin: 0;
    margin-left: 100px;
}

.lien ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
    font-size: 20px;
}

.lien ul li a{
    color: #ffffff;
    border: 3px solid #ffffff;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
}

.lien ul li a:hover{
    color: #083d61;
    background: #ffffff;
}


body{
    background: #083d61;
}

.presentation{
    border: 4px solid #ffffff;
    border-radius: 50px;
    margin-top: 100px;
    width: 850px;
    justify-content: center;
    margin-left: 25%;
}

.presentation h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    margin: 20px 44% 0 45%;
    border-bottom: 3px solid #ffffff;
    padding: 0 0 10px 15px;
    border-radius: 10px;
}

.presentation p{
    font-size: 30px;
    margin: 50px 50px;
}

